@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* __________________________________

------------utility-----------------

_________________________________ */

.hide-item{
    display: none;
}

.debug{
    border: 1px solid red;
}

.col{
    border: 0px solid green;
}

/* __________________________________

------------reset-----------------

_________________________________ */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


section{
    padding-top: 36px;
    margin-bottom: 72px;
}


/* NASCONDO LA SCROLLBAR */
.aside::-webkit-scrollbar {
    display: none;
}

img{
    display: block;
    width: 100%;
}

a, ul, li, menu{
    text-decoration: none;
    color: currentColor;
    list-style-type: none;
}

main{
    max-height: 100dvh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 72px;
}

body{
    
    background-color:#f2f2f2;
    color:#2e283c;

}

.hero__descrizione h1{
    font-size: 7vw;
    font-weight: 900;
    line-height: 0.9em;
    padding-top: 36px;
}

.hero__descrizione h2{
    font-size: 2rem;
    font-weight: 800;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 1.2rem 0;
    margin-bottom: 0;
}

/* __________________________________

------------layout-----------------

_________________________________ */


.container{
    max-width: 1000px;
    margin: auto;
}

.content{
    min-height: 100vh;

}

.aside{
    max-height: 100dvh;
    overflow: auto;
    padding-bottom: 72px;

}


.wrapper{
    /* MAIN DIMENSIONE IMMAGINE */
    width: 40%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

.col-12{
    flex-basis: 100% ;
   
}

.col-7{
    flex-basis: calc(100%/12*7) ;
   
}

.col-6{
    flex-basis: calc(100%/12*6) ;
    margin-bottom: 24px;
}

.col-5{
    flex-basis: calc(100%/12*5) ;
    
}

.col-auto{
    flex-grow: 1;
}

/* __________________________________

------------elementi-----------------

_________________________________ */

.head{
    margin-top: auto;
    line-height: 48px;
    align-items: flex-start;
    
    margin-bottom: 24px;
}

.head__item{
    text-transform: uppercase;
    padding: 8px 12px;
    padding-left: 0px;
}

.hero{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
 
    /* position: sticky;
    top: 0; */
}

.hero__descrizione{
    flex-grow: 1;
}

.social{

    padding-bottom: 36px;
}

/* -------mail----------- */

.invio{
    justify-self: center;
}

/* -------mail----------- */

.hero__wrapper {
    width: 100%;
    padding-top: 100px;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    align-self: flex-start;
    
}

.card {

    display: grid;
    align-items: center;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;

}
span{
    display: none;
}

.card:hover span{
    display: block;
    border-radius: 8px;
    background-color: rgba(128, 125, 250, 0.3);
    padding: 4px 6px;
    margin: 0px 4px 4px 0px;
}

.card:hover{
    background-color: rgba(128, 125, 250, 0.3);
}

#portfolio .card:hover{
    border: #807dfa solid 2px;
}

.card:hover > img,
.card:hover > article {
  background-color: transparent; /* Imposta lo sfondo trasparente per gli elementi interni */
}

.anteprima{
    align-self: center;
}

.anteprima img{
    height: 100%;
}

.competenze__anno-tipo{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.button{
    margin-left: -6px;
    margin-right: 20px;
    padding: 8px 12px;
    border: 2px solid #807dfa;
    border-radius: 12px;
}

/* ------------------------- */

.main-element {
    position: absolute;
    border-radius: 50%;
    top: 4%;
    left: 4%;
    display: block;
    height: 92%;
    width: 92%;
    margin: auto;
    z-index: 1;
}

.border {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: -9;
    display: block;
    height: 200%;
    width: 200%;
    transform: rotate(225deg);
    overflow: hidden;
    background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
    background-size: 200% auto;
    
    animation: shine 5s  infinite;
  }

  /*bordo animato immagine nell'hero*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }


/* __________________________________

------------librerie-----------------

_________________________________ */

/* 1_____________________________________ */

  /* __________________________________________ */