

/* __________________________________

------------reset-----------------

_________________________________ */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    height: 100%;
}

a, ul, li, menu{
    text-decoration: none;
    color: currentColor;
    list-style-type: none;
}

body{
    background-color: #f0d5ff;
    color:#181617;
}

nav{
    position: sticky;
    top: 0;
}

div{
    border: 1px solid red;
}

/* __________________________________

------------layout-----------------

_________________________________ */

.container-full{
    width: 100%;
    padding: 12px;
}

.container{
    max-width: 1000px;
    margin: auto;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.col{
    border: 1px solid green;
}

.col-auto{
    flex-grow: 1;
}

/* __________________________________

------------elementi-----------------

_________________________________ */

.head{
    margin: 48px 0px ;
    line-height: 48px;
    align-items: flex-start;

}

.head__item{
    text-transform: uppercase;
    padding: 8px 12px;
}

.hero__wrapper img{
    max-width: 360px;
    border-radius: 50%;
    aspect-ratio: 1;
}


/* __________________________________

------------librerie-----------------

_________________________________ */

/* 1_____________________________________ */

  /* __________________________________________ */