

/* __________________________________

------------reset-----------------

_________________________________ */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    height: 100%;
}

a, ul, li, menu{
    text-decoration: none;
    color: currentColor;
    list-style-type: none;
}

main{
    max-height: 100vh;
    overflow: auto;
}

body{
    background-color: #f0d5ff;
    color:#181617;
}



/* nav{
    position: sticky;
    top: 0;
} */

.debug{
    border: 1px solid red;
}

/* __________________________________

------------layout-----------------

_________________________________ */

.container-full{
    padding: 5%;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.wrapper{

    /* MAIN DIMENSIONE IMMAGINE */

    width: 15vw;
    border: 1px solid violet;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

.column{
    flex-direction: column;
}

.col{
    border: 1px solid green;
}

.col-6{
    flex-basis: calc(100%/12*6) ;
}

.col-auto{
    flex-grow: 1;
}

/* __________________________________

------------elementi-----------------

_________________________________ */

.head{
    margin: 48px 0px ;
    line-height: 48px;
    align-items: flex-start;

}

.head__item{
    text-transform: uppercase;
    padding: 8px 12px;
}

.hero__wrapper {
    width: 100%;
    padding-top: 100px;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    align-self: flex-start;
    
}


.main-element {
    position: absolute;
    border-radius: 50%;
    top: 4%;
    left: 4%;
    display: block;
    height: 92%;
    width: 92%;
    margin: auto;
    z-index: 1;
}

.border {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: -9;
    display: block;
    height: 200%;
    width: 200%;
    transform: rotate(225deg);
    overflow: hidden;
    background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
    background-size: 200% auto;
    
    animation: shine 5s  infinite;
  }

  /*bordo animato immagine nell'hero*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }


/* __________________________________

------------librerie-----------------

_________________________________ */

/* 1_____________________________________ */

  /* __________________________________________ */