@media screen and (max-width: 1024px) {

    main{
        padding: 0 24px;
    }
    .card{
        display: grid;
        grid-template-columns: 2fr 10fr;
    }
    .card-folio{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        padding:24px;
        padding-top: 12px;
    }
    .card__img{ grid-area: 2 / 1 / 3 / 2; }
    .card__content{ grid-area: 1 / 1 / 2 / 2; margin-bottom: 12px; }
    .chips { grid-area: 3 / 1 / 4 / 2 }
 
 
    p{
        font-size: 0.8rem;
        line-height: 1.4rem;
        margin: 0.6rem 0;
        margin-bottom: 0;
    }

    .mission{
        font-size: 18px;
        line-height: 24px;
    }


    .linguaggi, .backend, .design, .frontend{
        flex-basis: calc(100%/12*6) ;
    }

    .hero{
        padding-right: 24px;
    }


  }

  @media screen and (max-width: 768px) {

    h1{
        font-size: 96px !important;

    }

    main, .aside{
        overflow: unset;
    }

   .hero, .sub-hero{
    flex-basis: 100% ;
   }

   .card{
    grid-template-columns: 4fr 8fr;
   }

   .card-folio{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    padding:24px;
    padding-top: 12px;
    }
    .card__img{ grid-area: 2 / 1 / 3 / 2; }
    .card__content{ grid-area: 1 / 1 / 2 / 2; margin-bottom: 12px; }
    .chips { grid-area: 3 / 1 / 4 / 2 }

  

    #competenze{
        padding-bottom: 24px;
    }

    #mansione{
        font-size: 30px;
    }

    .hero{
        padding-right: 0px;
    }

    .desktop{
        display: none;
    }

    nav{
        margin:0px -24px;
    }

    section{
        margin-bottom: 24px;
    }

    .social{
        padding-bottom: 0;
    }

    .mobile{
        display: block;
    }
}

