.card{
    padding: 12px;
    margin-bottom: 12px;
    padding-right: 24px;
}

main{
    padding-right: 0px;
}

.line{
    min-height: 32px;
    flex-grow: 1;
    border-left: 6px solid #2e283c;
    margin: -16px 0;
    margin-left: -12px;
    border-radius: 8px;
}

.column{
    padding-right: 4px;
}

.skills{
    padding-right: 24px;
}

.formazione{
    margin-right:-24px;
}

.linguaggi, .backend, .design, .frontend{
    flex-basis: calc(100%/12*3) ;
}

figure{
    margin:auto 0;
    padding: 16px;
}

.hide{
    display: none;
}

